/* Main container */
.diamond-main-container {
    margin-top: 40px;
    padding:0;
    margin-bottom: 0;
    

   
  }
  
  /* Grid container */
  .diamond-grid-container {
    margin: auto;
    display: grid;
    grid-gap: 1.1312rem; /* 0.707 * 1.6rem */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 12.8rem; /* 8 * 1.6rem */
    grid-auto-flow: dense;
    justify-content: center;
    max-width: 75em;
  }
  
  /* Card styles */
  .diamond-card {
    background-color: rgb(153, 128, 128);
    box-shadow: 1px 3px 3px rgba(0, 10, 20, 0.06);
  }
  
  .diamond-card__image {
    height: 100%;
    width: 100%;
    display: flex;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  
  .diamond-card__content {
    padding: 1.6rem;
  }
  
  /* Reducing the height of the big script card */
  .diamond-card--big-script {
    height: 18rem; /* Set specific height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sacramento', cursive;
    font-size: 3em; /* Reduce font size */
    line-height: 1.15em;
    text-align: center;
  }
  
  /* Reducing the height of the 2x size card */
  .diamond-card--2x {
    grid-row: span 2;
    grid-column: span 2;
    height: 27rem; /* Set specific height */
  }
  
  /* Typography and utility classes */
  .diamond-padding-large {
    padding: 3.2rem;
  }
  
  .diamond-big-script {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Sacramento', cursive;
    font-size: 4.3em;
    line-height: 1.15em;
    text-align: center;
  }
  /* Increasing the width of the horizontal image */
.diamond-card--horizontal {
    grid-column: span 2; /* Ensure it spans 2 columns to give more space */
  }
  
  .diamond-card--horizontal .diamond-card__image {
    width: 100%; /* Ensures the image takes up the full width of the card */
    display: flex;
    img {
      width: 100%; /* Make sure the image stretches to fill the container */
      object-fit: cover; /* Ensure the image covers the area without distortion */
      height: auto; /* Adjust height automatically to maintain aspect ratio */
    }
  }
  
  
  /* Responsive adjustments */
  @media (max-width: 413px) {
    .diamond-grid-container {
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: auto;
    }
  }
  
  @media (min-width: 627px) {
    .diamond-grid-container {
      grid-gap: 1.6rem;
    }
  
    .diamond-card--2x {
      grid-row: span 3;
      grid-column: span 2;
    }
  }
  